/* Components.css */

/* Color Palette and Global Variables */
:root {
    --dark-bg: #333;
    --light-green: #abc;
    --green-accent: #def;
    --max-content-width: 80vw;
    --transition-speed: 0.3s;
    --border-radius: 5px;
}

/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes backgroundShift {
    0% { background-position: center; }
    30% { background-position: calc(50% + 40px) calc(50% - 10px); }
    60% { background-position: calc(50% + 10px) calc(50% + 10px); }
    100% { background-position: center; }
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: transparent;
    background-image: url('../../public/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120%;
    background-position: center center;
    animation: backgroundShift 15s infinite linear; /* Apply the animation */
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    z-index: -1; /* Ensures it stays behind other content */
}


/* Section Styling */
.section {
    padding: 4rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section h2, .section p {
    color: var(--green-accent);
}

.section p {
    font-size: 1.25rem;
    margin: 0 auto 2rem;
    max-width: var(--max-content-width);
}

/* About Section */
.about-section p {
    text-align: justify;
}

/* Navbar Styling */
.navbar {
    background-color: rgba(51, 51, 51, 0); /* Adjust the color and opacity */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    color: var(--light-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}


.navbar-brand, .nav-item, .nav-link {
    transition: color var(--transition-speed) ease;
}

.navbar-brand {
    color: var(--green-accent);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.8rem;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    color: var(--light-green);
    text-decoration: none;
    padding: 0.5rem 0;
}

.nav-link:hover, .nav-link:focus {
    color: var(--green-accent);
}

/* Home Section */
.home-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.home-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Projects Section */
.projects-section .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

/* Skills Section */
.section p, .skills-section {
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
}

.skills-section .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.skills-section .skill-list li {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: var(--green-accent);
    color: var(--dark-bg);
    border-radius: var(--border-radius);
}

/* Contact Section */
.contact-section form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section input, .contact-section textarea, .contact-section button {
    width: 100%;
    padding: 0.75rem;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed) ease;
}

.contact-section input, .contact-section textarea {
    border: 1px solid var(--light-green);
    background-color: var(--dark-bg);
    color: white;
}

.contact-section button {
    border: none;
    background-color: var(--green-accent);
    color: var(--dark-bg);
    cursor: pointer;
}

.contact-section button:hover {
    background-color: var(--light-green);
}

/* Contact Links Styling */
.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.contact-links img, .contact-links a {
    height: 24px;
    width: 24px;
    margin-right: 1rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        text-align: center;
        width: 100%;
    }

    .navbar-toggler {
        display: initial;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    .contact-links {
        flex-direction: column;
    }

    .contact-links a {
        margin: 0.5rem 0;
    }

    .project-grid, .skills-container {
        max-width: 100%;
        padding: 0 2rem;
    }
}

/* Interactive Element Transitions */
button, .nav-link, .skill-list li {
    transition: transform var(--transition-speed) ease;
}

button:hover, .nav-link:hover, .skill-list li:hover {
    transform: translateY(-3px);
}

/* Pseudo-elements */
.navbar-brand::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--green-accent);
    transition: width var(--transition-speed) ease;
}

.navbar-brand:hover::after {
    width: 0;
}
